<div class="container mt-5">
  <h1>Booking Form</h1>
  <%= simple_form_for [island, booking ] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :number_of_people %>
  <%= f.submit %>
  <% end %>
</div>
